* {
	margin: 0;
	padding: 0;
}
.first{
    height: 50rem;
    width: 100%;
	background-image: url("for_first_photo1.jpg");
	display: grid;
	background-repeat: no-repeat;
	background-size: cover;
	grid-template-columns: 30% 60% 10%;
}
.text{
    font-size: 4.2rem;
    padding-top: 30rem;
    padding-left: 1rem;
}
.picture {
	width: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.picture:hover {
	width: 55px;
}
.name3 {
	width: 200px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 15px;
}

@media (max-width: 800px) {
* {
	margin: 0;
	padding: 0;
}
html{
	overflow-x: hidden;
	width: 100%;
}
body{
	overflow-x: hidden;
}
.first {
	height: 50rem;
	background-image: url("for_first_photo1.jpg");
	display: grid;
	background-repeat: no-repeat;
    background-size: contain;
	
}
.text{
    font-size: 2.2rem;
    padding-top: 26rem;
    padding-left: 1rem;
}
.picture {
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.picture:hover {
	width: 3rem;
}
.name3 {
	width: 141px;
	height: 62px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
    gap: 9px;
}

}

