* {
	margin: 0;
	padding: 0;
}
body{
    background-color: rgb(233 248 255);
    background-repeat: repeat;
}
/* Выпадающее меню */
.dropdown {
    display: none;
    position: absolute;
   top: 60px;
    left: 20px;
    background: white;
    border-radius: 6px;
    z-index: 10;
}
.dropdown.open {
    display: block;
}
.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dropdown li {
    padding: 12px 20px;
}
.dropdown li a {
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
}
.dropdown li a:hover {
 color: #e4b46e;
}
.img2 {
 width: 3rem;
 height: 3rem;
 padding-top: 10px;
 padding-left: 10px;
 cursor: pointer;
}
.text{
    font-size: 1.2rem;
    padding-left: 10px;
    padding-bottom: 10px;
}
.text1{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}
h1 {
	text-align: center;
	font-family: cursive;
}
@media (max-width: 800px) {
* {
	margin: 0;
	padding: 0;
}
body{
    background-color: rgb(233 248 255);
    background-repeat: repeat;
}
.img2 {
	width: 2rem;
	height: 2rem;
	padding-top: 10px;
    padding-left: 10px;
}
/* Выпадающее меню */
.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    left: 20px;
    background: white;
    color: black;
    border-radius: 6px;
    z-index: 10;
}
.dropdown.open {
    display: block;
}
.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dropdown li {
    padding: 12px 20px;
}
.dropdown li a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
}
.dropdown li a:hover {
    color: #e4b46e;
}
.text{
    font-size: 0.7rem;
    padding-left: 10px;
    padding-bottom: 10px;
}
.text1{
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
}
h1 {
	text-align: center;
}
}