* {
	margin: 0;
	padding: 0;
}
body{
    background-image: url("fon_1.jpg");
    background-repeat: repeat;
}
.first{
    height: 50rem;
    width: 100%;
	background-image: url("photo_2.jpg");
	display: flex;
    justify-content: space-between;
    gap: 10px;
	background-repeat: no-repeat;
	background-size: cover;
}
.text{
    font-size: 4.2rem;
    padding-top: 30rem;
    padding-left: 1rem;
}
.picture {
	width: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.picture:hover {
	width: 55px;
}
.name3 {
	width: 200px;
	height: 70px;
	display: flex;
	justify-content: end;
	align-items: center;
	flex-direction: row;
	padding-right: 3rem;
    gap: 15px;
}
/* Выпадающее меню */
.dropdown {
    display: none;
    position: absolute;
   top: 60px;
    left: 20px;
    background: white;
    border-radius: 6px;
    z-index: 10;
}
.dropdown.open {
    display: block;
}
.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dropdown li {
    padding: 12px 20px;
}
.dropdown li a {
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
}
.dropdown li a:hover {
   color: #e4b46e;
}
.img2 {
	width: 3rem;
	height: 3rem;
	padding-top: 10px;
    padding-left: 3rem;
	cursor: pointer;
}
@media (max-width: 800px) {
* {
	margin: 0;
	padding: 0;
}
html{
	overflow-x: hidden;
	width: 100%;
}
body{
	overflow-x: hidden;
    background-image: url("fon_1.jpg");
    background-repeat: repeat;
}
.first {
	height: 50rem;
	background-image: url("photo_2.jpg");
	display: flex;
    justify-content: space-between;
	background-repeat: no-repeat;
    background-size: contain;
}
.text{
    font-size: 2.2rem;
    padding-top: 27rem;
    padding-left: 1rem;
}
.picture {
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.picture:hover {
	width: 3rem;
}
.name3 {
	width: 141px;
	height: 62px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
    padding-right: 1rem;
    gap: 9px;
}
.img2 {
	width: 2rem;
	height: 2rem;
	padding-top: 10px;
    padding-left: 1rem;
}
/* Выпадающее меню */
.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    left: 20px;
    background: white;
    color: black;
    border-radius: 6px;
    z-index: 10;
}
.dropdown.open {
    display: block;
}
.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dropdown li {
    padding: 12px 20px;
}
.dropdown li a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
}
.dropdown li a:hover {
    color: #e4b46e;
}
}

