* {
	margin: 0;
	padding: 0;
}
body{
    background-color: rgb(233 248 255);
    background-repeat: repeat;
}
/* Выпадающее меню */
.dropdown {
    display: none;
    position: absolute;
   top: 60px;
    left: 20px;
    background: white;
    border-radius: 6px;
    z-index: 10;
}
.dropdown.open {
    display: block;
}
.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dropdown li {
    padding: 12px 20px;
}
.dropdown li a {
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
}
.dropdown li a:hover {
 color: #e4b46e;
}
.img2 {
 width: 3rem;
 height: 3rem;
 padding-top: 10px;
 padding-left: 1rem;
 cursor: pointer;
}
p{
    font-family: cursive;
}
a{
    font-family: cursive;
}
.text{
  font-size: 20px;
  padding-left: 30px;
}
.text1{
 font-size: 30px;
 padding-left: 30px;
 font-weight: 800;
}
.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.img{
    height: 4.5rem;
}
.img1{
    height: 3.9rem;
}
@media (max-width: 800px) {
* {
	margin: 0;
	padding: 0;
}
p{
    font-family: cursive;
}
a{
    font-family: cursive;
}
body{
	overflow-x: hidden;
    background-color: rgb(233 248 255);
    background-repeat: repeat;
}
.text{
 font-size: 15px;
 padding-left: 10px;
}
.text1{
 font-size: 20px;
 padding-left: 30px;
 font-weight: 800;
}
.img2 {
	width: 2rem;
	height: 2rem;
	padding-top: 10px;
    padding-left: 1rem;
}
/* Выпадающее меню */
.dropdown {
    display: none;
    position: absolute;
    top: 60px;
    left: 20px;
    background: white;
    color: black;
    border-radius: 6px;
    z-index: 10;
	font-family:   monospace;
}
.dropdown.open {
    display: block;
}
.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dropdown li {
    padding: 12px 20px;
}
.dropdown li a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
}
.dropdown li a:hover {
    color: #e4b46e;
}
.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.img{
    height: 1.5rem;
}
.img1{
    height: 1.5rem;
}
}