* {
	margin: 0;
	padding: 0;
}
.first{
    height: 50rem;
	background-image: url("for_first_photo1.jpg");
	display: grid;
	background-repeat: no-repeat;
	background-size: cover;
	grid-template-columns: 30% 60% 10%;
}
@media (max-width: 900px) {
* {
	margin: 0;
	padding: 0;
}
html{
	overflow-x: hidden;
	width: 100%;
}
body{
	overflow-x: hidden;
}
.start {
	
	background-image: url("for_first_photo1.jpg");
	display: grid;
	background-repeat: no-repeat;
    background-size: contain;
	grid-template-columns: 30% 60% 10%;
}
}